<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366813970799-li56ur328fe3qfd2kee8nrc66qdge5kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366813970799-li56ur328fe3qfd2kee8nrc66qdge5kf</string>
	<key>API_KEY</key>
	<string>AIzaSyByH-bQdoce9aKKkI_hGcnwrT9x31SKkdg</string>
	<key>GCM_SENDER_ID</key>
	<string>366813970799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fidenz.fcmtestshashi</string>
	<key>PROJECT_ID</key>
	<string>fcm-demo-app-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-demo-app-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366813970799:ios:a83f0dc5f9ced6b101e89a</string>
	<key>DATABASE_URL</key>
	<string>https://fcm-demo-app-2019.firebaseio.com</string>
</dict>
</plist>